.shopping-Content {
    font-family: sans-serif;
    font-size: 24px;
    margin: 0;
    display: grid;
    grid-template-rows: 10vh 80vh 10vh;
    height: 100vh;
    grid-row-gap: 0;
    padding-top: 3em;
}

.shopping-Products{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 60vw;
}

.shopping-Products_Product{
    display: flex;
    flex-direction: column;
}

.shopping-Products_Product_Image{
    height: auto;
    margin: auto;
    width: 35vw;
}

.shopping-Products_Product_Title{
    text-align: center;
}

.shopping-Products_Product_Title_Link{
    text-decoration: none;
    color: green;
}

.shopping-Products_Product_AddToCart{
    width: 50%;
    margin: auto;
}

.shopping-Button{
    color: white;
    background-color: green;
    border: 0;
    padding: .5em;
    border-radius: 10px;
    font-size: 24px;
    width: 100%;
    margin: auto;
}

.shopping-Products_Product_Separator{
    width: 100%;
    margin-top: 2em;
    margin-bottom: 1em;
    border: solid gray 1px;
}

.shopping-Cart{
    width: 80%;
    margin: auto;
}

.shopping-Cart_Title{
    color: green;
}

.shopping-Cart_Total{
    color: green;
    text-align: center;
    font-size: 125%;
}

.shopping-Cart_Form{
    padding-bottom: 4em;
}
.shopping-Cart_Items{
    width: 80%;
    margin: auto;
}

.shopping-Cart_Product{
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.shopping-Cart_Product_Image{
    width: auto;
    height: 30vh;
    grid-row: span 2;
}

.shopping-Cart_Product_Price{
    grid-column: 2;
}

.shopping-Cart_Buttons{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 10px;
    width: 80vw;
    margin: auto;
}

.shopping-Cart_Buttons_Button{

    font-size: 24px;
    padding: .5em;
    border: none;
    border-radius: 10px;
}

.shopping-Cart_Buttons_Checkout{
    background-color: green;
    color: white;
    grid-column: span 2;
    width: 80%;
    margin: auto;
}

.shopping-Cart_Buttons_Clear{
    background-color: pink;
    color: darkred;
}

.shopping-Header {
    background-color: green;
    color: white;
    padding: 0;
    margin: 0;
    height: 3em;
    line-height: 3em;
    position: fixed;
    left:0;
    right: 0;
    top: 0;
}

.shopping-Header_Nav_List {
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 18fr 1fr 1fr;
    padding: 0;
}

.shopping-Header_Nav_List_Item {
    display: inline-block;
}

.shopping-Header_HamburgerMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopping-Header_HamburgerMenu_Line {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 3px 0;
}

.shopping-Header_Search::after {
    content: "🔍";
}

.shopping-Header_UserMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopping-Header_UserMenu_Dot {
    width: 5px;
    height: 5px;
    border-radius: 5px;
    margin: 3px 0;
    background-color: white;
}

.shopping-Footer{
    height: 3em;
    background-color: green;
    position: fixed;
    left:0;
    right: 0;
    bottom: 0;
}

.shopping-Footer_List{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

.shopping-Footer_List_Item{
    display: inline-block;
}

.shopping-ProductDetail{
    width: 80%;
    margin: auto;
}

.shopping-ProductDetail_Image{
    max-height: 40vh;
    max-width: 80%;
    margin: auto;
}

.shopping-ProductDetail_Title{
    color: green;
}

.shopping-ProductDetail_Price{
    color: green;
}

.shopping-ProductDetail_Label{
    color: green;
}
