@import "main.css";
@import "shopping.css";

body{
    margin: 0;
}

@media (max-width: 920px) {
    .main-LoginForm{
        box-sizing: border-box;
        display: grid;
        grid-template-rows: 1em 3em 1em 3em 1fr 3em;
        grid-row-gap: 1em;
        margin:2em;
    }

    .main-LoginForm_Input{
        height: 2em;
    }

    .main-LoginForm_Button{
        grid-row: 6;
    }

    .shopping-Header_UserMenu{
        width: 40px;
    }
}

@media (max-width: 520px) {
    body{font-size: 18px}
    .main-LoginForm_Button{
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    body{font-size: 14px}
    .main-LoginForm_Button{
        font-size: 14px;
    }
}
